body {
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(24.5%, 24.5%, 24.5%);

}

h1,h2,h3,h4{
    font-weight: 500;
}

a:hover, a:target{
    color: white;
    text-decoration:none;
}

a:visited{
    text-decoration:none;
}
