.note-thumbnail{
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 20vh;
    box-shadow: none;
    border-right: 5px solid white;
    -webkit-filter: opacity(80%);
    filter: opacity(80%);
    transition: 0.2s;
}

.note-thumbnail:hover{
    transition: 0.2s;
    -webkit-filter: opacity(100%);
    filter: opacity(100%);
}

.thumbnail-space{
    padding: 0;
    box-shadow: none;
    border: none;
}


.note-title{
    position: absolute;
    background-color: rgba(192, 192, 192, 0.8);
    padding: 3px;
    bottom: 0;
    left: 0;
    width: 100%;
    word-wrap: break-word;
}