.note-thumbnail{
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 20vh;
    border-right: 5px solid white;
}

.thumbnail-space{
    padding: 0;
}

.note-title{
    position: absolute;
    background-color: rgba(192, 192, 192, 0.8);
    padding: 3px;
    bottom: 0;
    left: 0;
    width: 100%;
    word-wrap: break-word;
}