<div class="container-fluid">
    <div class="row thumbnail-space">
        <a href="/note/{{$index}}" class="col-md-3 note-thumbnail" ng-repeat="note in notes track by $index" ng-style="{'background-image' : 'url({{note.image}})', 'background-size' : 'cover'}">
            <div class="note-title">{{note.title}}</div>
        </a>
    </div>
</div>

<!--<input type="number" ng-model="index">
<button ng-click="add()">click</button>
<button ng-click="getNote(index)">click</button>
<button ng-click="delete(index)">click</button>-->