<div class="container-fluid">
    <div class="form-group row search-panel">
        <label for="note-search" class="col-1 col-form-label">
            <i class="fa fa-search fa-fg fa-fw"  aria-hidden="true"></i>
            </label>
        <div class="col-10">
            <input class="form-control" type="search" ng-keyup="search()" ng-model="lookingFor" placeholder="Looking for some notes?" id="note-search">
        </div>
    </div>
    <h2 class="home-msg">{{msg}}</h2>
    <div class="row thumbnail-space">
        <a ng-href="/note/{{$index}}" class="col-md-3 note-thumbnail" ng-repeat="note in notes track by $index" ng-if="filter($index)" ng-style="{'background-image' : 'url({{note.image}})', 'background-size' : 'cover'}">
            <div class="note-title">{{note.title}}</div>
            <i class="fa fa-picture-o fa-2x thumbnail-icon" ng-if="note.image === undefined" aria-hidden="true"></i>
        </a>
    </div>
</div>

<!--<input type="number" ng-model="index">
<button ng-click="add()">click</button>
<button ng-click="getNote(index)">click</button>
<button ng-click="delete(index)">click</button>-->