.logo {
    font-family: 'Pacifico', cursive;
    color: #ff6e40;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.menu-controls {
    list-style: none;
    text-decoration: none;
}

#menu{
    margin: 0;
}

.mobile-menu{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: center;
    background-color: #ff6e40;
    width: 3.5em;
    height: 3.5em;
}

.menu-icon{
    color: #323232;
    transform:translate(0%,90%);
}