<nav id="menu">
    <a href="/">
        <h2 class="logo">Notes</h2>
    </a>
    <div class="hidden-sm-down">
        <ul class="menu-controls">
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add note</a></li>
        </ul>
        <hr>
        <ul id="notes-list" ng-show="showList">
            <li ng-repeat="note in notes track by $index"><a ng-href="/note/{{$index}}">{{note.title}}</a></li>
        </ul>
    </div>
    <a ng-href="/add">
        <div class="mobile-menu hidden-md-up" ng-click="responsiveMenu()">
            <div>
                <i class="fa fa-plus fa-fg fa-fw menu-icon" aria-hidden="true"></i>
            </div>
        </div>
    </a>
</nav>