.logo {
    font-family: 'Pacifico', cursive;
    color: #ff6e40;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#menu{
    margin: 0;
}

.mobile-menu{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
    border-radius: 50%;
    background-color: #ff6e40;
    width: 3.5em;
    height: 3.5em;
}

.menu-icon{
    margin-left: 1em;
    margin-top: 1em;
}