<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>{{note.title}}</h3>
            <small>{{note.date.toLocaleString()}}</small>
            <p class='note-content' ng-if="!edit">{{note.content}}</p>
            <form ng-if="edit">
                <div class="form-group">
                    <textarea class="form-control note-edit" rows="10" ng-model="note.content"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary" ng-click="update()">Save</button>
                </div>
            </form>
            <div class='note-menu'>
                <small ng-click="edit = !edit"><i class="fa fa-pencil" aria-hidden="true"></i></i> edit</small>
                <small><i class="fa fa-trash" aria-hidden="true"></i> delete</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 note-images" ng-repeat="url in images track by $index" ng-style="{'background-image' : 'url({{url}})' , 'background-size' : 'cover' , 'background-position': 'center' }"></div>
    </div>
</div>