.note-content {
    word-wrap: break-word;
}

.note-images{
    margin-right: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    height: 20vh;
}

.note-menu > small {
    margin-right: 10px;
    cursor: default;
}

.note-menu > small:hover{
    font-weight: bold;
}

.note-edit{
    overflow: auto;
}
